<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.art.mapper.BorrowMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.art.entity.Borrow">
        <id column="id" property="id" />
        <result column="art_id" property="artId" />
        <result column="start_time" property="startTime" />
        <result column="reason" property="reason" />
        <result column="user" property="user" />
        <result column="borrow_loc" property="borrowLoc" />
        <result column="receiver" property="receiver" />
        <result column="est_return_time" property="estReturnTime" />
        <result column="return_id" property="returnId" />
        <result column="operator" property="operator" />
        <result column="ope_time" property="opeTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id AS "id", art_id AS "artId", start_time AS "startTime", reason AS "reason", user AS "user", borrow_loc AS "borrowLoc", receiver AS "receiver", est_return_time AS "estReturnTime", return_id AS "returnId", operator AS "operator", ope_time AS "opeTime"
    </sql>


    <select id="customList" resultType="cn.stylefeng.guns.modular.art.model.result.BorrowResult" parameterType="cn.stylefeng.guns.modular.art.model.params.BorrowParam">
        select
        <include refid="Base_Column_List"/>
        from t_art_borrow where 1 = 1
            <if test="paramCondition.artId != null and paramCondition.artId != ''">
                and art_id like CONCAT('%',#{paramCondition.artId},'%')
            </if>
            <if test="paramCondition.borrowLoc != null and paramCondition.borrowLoc != ''">
                and borrow_loc like CONCAT('%',#{paramCondition.borrowLoc},'%')
            </if>
            <if test="paramCondition.estReturnTime != null and paramCondition.estReturnTime != ''">
                and est_return_time like CONCAT('%',#{paramCondition.estReturnTime},'%')
            </if>
            <if test="paramCondition.id != null and paramCondition.id != ''">
                and id like CONCAT('%',#{paramCondition.id},'%')
            </if>
            <if test="paramCondition.opeTime != null and paramCondition.opeTime != ''">
                and ope_time like CONCAT('%',#{paramCondition.opeTime},'%')
            </if>
            <if test="paramCondition.operator != null and paramCondition.operator != ''">
                and operator like CONCAT('%',#{paramCondition.operator},'%')
            </if>
            <if test="paramCondition.reason != null and paramCondition.reason != ''">
                and reason like CONCAT('%',#{paramCondition.reason},'%')
            </if>
            <if test="paramCondition.receiver != null and paramCondition.receiver != ''">
                and receiver like CONCAT('%',#{paramCondition.receiver},'%')
            </if>
            <if test="paramCondition.returnId != null and paramCondition.returnId != ''">
                and return_id like CONCAT('%',#{paramCondition.returnId},'%')
            </if>
            <if test="paramCondition.startTime != null and paramCondition.startTime != ''">
                and start_time like CONCAT('%',#{paramCondition.startTime},'%')
            </if>
            <if test="paramCondition.user != null and paramCondition.user != ''">
                and user like CONCAT('%',#{paramCondition.user},'%')
            </if>
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.art.model.params.BorrowParam">
        select
        <include refid="Base_Column_List"/>
        from t_art_borrow where 1 = 1
            <if test="paramCondition.artId != null and paramCondition.artId != ''">
                and art_id like CONCAT('%',#{paramCondition.artId},'%')
            </if>
            <if test="paramCondition.borrowLoc != null and paramCondition.borrowLoc != ''">
                and borrow_loc like CONCAT('%',#{paramCondition.borrowLoc},'%')
            </if>
            <if test="paramCondition.estReturnTime != null and paramCondition.estReturnTime != ''">
                and est_return_time like CONCAT('%',#{paramCondition.estReturnTime},'%')
            </if>
            <if test="paramCondition.id != null and paramCondition.id != ''">
                and id like CONCAT('%',#{paramCondition.id},'%')
            </if>
            <if test="paramCondition.opeTime != null and paramCondition.opeTime != ''">
                and ope_time like CONCAT('%',#{paramCondition.opeTime},'%')
            </if>
            <if test="paramCondition.operator != null and paramCondition.operator != ''">
                and operator like CONCAT('%',#{paramCondition.operator},'%')
            </if>
            <if test="paramCondition.reason != null and paramCondition.reason != ''">
                and reason like CONCAT('%',#{paramCondition.reason},'%')
            </if>
            <if test="paramCondition.receiver != null and paramCondition.receiver != ''">
                and receiver like CONCAT('%',#{paramCondition.receiver},'%')
            </if>
            <if test="paramCondition.returnId != null and paramCondition.returnId != ''">
                and return_id like CONCAT('%',#{paramCondition.returnId},'%')
            </if>
            <if test="paramCondition.startTime != null and paramCondition.startTime != ''">
                and start_time like CONCAT('%',#{paramCondition.startTime},'%')
            </if>
            <if test="paramCondition.user != null and paramCondition.user != ''">
                and user like CONCAT('%',#{paramCondition.user},'%')
            </if>
    </select>

    <select id="customPageList" resultType="cn.stylefeng.guns.modular.art.model.result.BorrowResult" parameterType="cn.stylefeng.guns.modular.art.model.params.BorrowParam">
        select
        <include refid="Base_Column_List"/>
        from t_art_borrow where 1 = 1
            <if test="paramCondition.artId != null and paramCondition.artId != ''">
                and art_id like CONCAT('%',#{paramCondition.artId},'%')
            </if>
            <if test="paramCondition.borrowLoc != null and paramCondition.borrowLoc != ''">
                and borrow_loc like CONCAT('%',#{paramCondition.borrowLoc},'%')
            </if>
            <if test="paramCondition.estReturnTime != null and paramCondition.estReturnTime != ''">
                and est_return_time like CONCAT('%',#{paramCondition.estReturnTime},'%')
            </if>
            <if test="paramCondition.id != null and paramCondition.id != ''">
                and id like CONCAT('%',#{paramCondition.id},'%')
            </if>
            <if test="paramCondition.opeTime != null and paramCondition.opeTime != ''">
                and ope_time like CONCAT('%',#{paramCondition.opeTime},'%')
            </if>
            <if test="paramCondition.operator != null and paramCondition.operator != ''">
                and operator like CONCAT('%',#{paramCondition.operator},'%')
            </if>
            <if test="paramCondition.reason != null and paramCondition.reason != ''">
                and reason like CONCAT('%',#{paramCondition.reason},'%')
            </if>
            <if test="paramCondition.receiver != null and paramCondition.receiver != ''">
                and receiver like CONCAT('%',#{paramCondition.receiver},'%')
            </if>
            <if test="paramCondition.returnId != null and paramCondition.returnId != ''">
                and return_id like CONCAT('%',#{paramCondition.returnId},'%')
            </if>
            <if test="paramCondition.startTime != null and paramCondition.startTime != ''">
                and start_time like CONCAT('%',#{paramCondition.startTime},'%')
            </if>
            <if test="paramCondition.user != null and paramCondition.user != ''">
                and user like CONCAT('%',#{paramCondition.user},'%')
            </if>
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.art.model.params.BorrowParam">
        select
        <include refid="Base_Column_List"/>
        from t_art_borrow where 1 = 1
            <if test="paramCondition.artId != null and paramCondition.artId != ''">
                and art_id like CONCAT('%',#{paramCondition.artId},'%')
            </if>
            <if test="paramCondition.borrowLoc != null and paramCondition.borrowLoc != ''">
                and borrow_loc like CONCAT('%',#{paramCondition.borrowLoc},'%')
            </if>
            <if test="paramCondition.estReturnTime != null and paramCondition.estReturnTime != ''">
                and est_return_time like CONCAT('%',#{paramCondition.estReturnTime},'%')
            </if>
            <if test="paramCondition.id != null and paramCondition.id != ''">
                and id like CONCAT('%',#{paramCondition.id},'%')
            </if>
            <if test="paramCondition.opeTime != null and paramCondition.opeTime != ''">
                and ope_time like CONCAT('%',#{paramCondition.opeTime},'%')
            </if>
            <if test="paramCondition.operator != null and paramCondition.operator != ''">
                and operator like CONCAT('%',#{paramCondition.operator},'%')
            </if>
            <if test="paramCondition.reason != null and paramCondition.reason != ''">
                and reason like CONCAT('%',#{paramCondition.reason},'%')
            </if>
            <if test="paramCondition.receiver != null and paramCondition.receiver != ''">
                and receiver like CONCAT('%',#{paramCondition.receiver},'%')
            </if>
            <if test="paramCondition.returnId != null and paramCondition.returnId != ''">
                and return_id like CONCAT('%',#{paramCondition.returnId},'%')
            </if>
            <if test="paramCondition.startTime != null and paramCondition.startTime != ''">
                and start_time like CONCAT('%',#{paramCondition.startTime},'%')
            </if>
            <if test="paramCondition.user != null and paramCondition.user != ''">
                and user like CONCAT('%',#{paramCondition.user},'%')
            </if>
    </select>

</mapper>
